node_modules/
.nyc_output/
.nyc_merged/
coverage/
coverage.json
examples/**/dist/
smoke-test/dist/
webpack-subresource-integrity/dist/
!webpack-subresource-integrity/dist/**/package.json
yarn-error.log
\*.map
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*
temp/
tsdoc-metadata.json
*.d.ts
*.d.ts.map
package.tgz
.log/
